<header>
    <nav class="upper_menu">
        <a href="">{{ primarySchool }}</a>
        <a href="">{{ kinderGarden }}</a>
        <a href="">{{ schoolClub }}</a>
        <a href="">{{ rentals }}</a>
    </nav>
</header>